

// Process Parameters:

// Process Parameters for build_consensus:
params.build_consensus.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well." @title:"General params"
params.build_consensus.nproc =  "1"  //* @input @description:"Number of nproc to use for running MaskPrimers. Default value 1."
params.build_consensus.barcode_field =  "BARCODE"  //* @input @description:"Position of description barcode field to group sequences by. Default BARCODE." @title:"Consensus generation copy fields and actions"
params.build_consensus.primer_field =  ""  //* @input @description:"Specifies the field name of the primer annotations. Default is none." @tooltip:"In most processing pipeline this parameter is set to PRIMER"
params.build_consensus.act =  "none"  //* @dropdown @options:"none,min,max,sum,set,majority" @description:"List of actions to take for each copy field which defines how each annotation will be combined into a single value. Default none." @tooltip:"The actions “min”, “max”, “sum” perform the corresponding mathematical operation on numeric annotations. The action “set” combines annotations into a comma delimited list of unique values and adds an annotation named <FIELD>_COUNT specifying the count of each item in the set. The action “majority” assigns the most frequent annotation to the consensus annotation and adds an annotation named <FIELD>_FREQ specifying the frequency of the majority value."
params.build_consensus.copy_field =  ""  //* @input @description:"Specifies a set of additional annotation fields to copy into the consensus sequence annotations. Default None" @tooltip:"If an action is specified under the <act> paramter, a copy field is needed as well."
params.build_consensus.mincount =  1  //* @input @description:"The minimum number of sequences needed to define a valid consensus. Default is 1" @title:"Consensus generation groups params"
params.build_consensus.minqual =  0  //* @input @description:"Consensus quality score cut-off under which an ambiguous character is assigned. Default value 0." @tooltip:"Does not apply when quality scores are unavailable."
params.build_consensus.minfreq =  0.6  //* @input @description:"Fraction of character occurrences under which an ambiguous character is assigned. Default value 0.6."
params.build_consensus.maxerror =  "none"  //* @input @description:"Maximum allowable error rate. Default is none (A numeric field from 0 to 1)." @tooltip:"Specify to calculate the error rate of each read group (rate of mismatches from consensus) and remove groups exceeding the given error threshold. The error rate is calculated against the final consensus sequence, which may include masked positions due to the <minqual> and <minfreq> arguments and may have deleted positions due to the <maxgap> argument. Mutually exclusive with <maxdiv>."
params.build_consensus.prcons =  "none"  //* @input @description:"Minimum primer frequency required. Default is none (A numeric field from 0 to 1)." @tooltip:"Specify to define a minimum primer frequency required to assign a consensus primer, and filter out sequences with minority primers from the consensus building step."
params.build_consensus.maxgap =  "none"  //* @input @description:"A cut-off for the frequency allowed gao values for each position. Default is none (A numeric field from 0 to 1)." @tooltip:"If specified, this defines a cut-off for the frequency of allowed gap values for each position. Positions exceeding the threshold are deleted from the consensus. If not defined, positions are always retained. "
params.build_consensus.maxdiv =  "none"  //* @input @description:"Maximum allowable diversity rate. Default is none (A numeric field from 0 to 1)" @tooltip:"Specify to calculate the nucleotide diversity of each read group (average pairwise error rate) and remove groups exceeding the given diversity threshold. Diversity is calculate for all positions within the read group, ignoring any character filtering imposed by the <minqual>, <minfreq> and <maxgap> arguments. Mutually exclusive with <maxerror>."
params.build_consensus.dep =  "false"  //* @checkbox @description:"Check the box to calculate consensus quality with a non-independence assumption. Default false"

// Pipeline Config:
$HOSTNAME='default'
nextflow.enable.dsl=2
$INITIAL_RUN_TYPE="gzip"
    
//* autofill
if ($HOSTNAME == "default"){
    $DOCKER_IMAGE = "quay.io/viascientific/pipeline_base_image:1.0"
}
//* autofill